.c-collapsible {
  width: var(--collapsible-width, 100%);
  display: flex;
  flex-direction: column;

  &.inverted {
    flex-direction: column-reverse;
  }

  &.hidden {
    display: none;
  }

  &__button {
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: left;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &.full-width {
      width: 100%;
      justify-content: space-between;
      display: flex;
    }
  }

  &__title {
    font-size: var(--collapsible-title-size, 18.5px);
    line-height: 24px;
    color: black;
    font-family: var(--primary-font);
    font-weight: var(--collapsible-title-weight, 700);
    text-transform: var(--collapsible-title-text-transform, capitalize);
    max-width: calc(100% - 32px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__chevron {
    transition: transform 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    flex-shrink: 0;
    width: 23px;
    color: black;

    &.open {
      transform: rotate(90deg);
    }

    &.open.inverted {
      transform: rotate(-90deg);
    }
  }

  &__content {
    will-change: height;
    padding-left: var(--collapsible-content-padding, 0px);
  }
}

.c-collapsible-enter-active,
.c-collapsible-leave-active {
  overflow: hidden;
  transition: height 0.25s ease-out;
}

.c-collapsible-enter,
.c-collapsible-leave-to {
  height: 0;
  transition: height 0.25s ease-in;
}
