@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://tts-nuxt.s3.eu-central-1.amazonaws.com/fonts/Urbanist.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://tts-nuxt.s3.eu-central-1.amazonaws.com/fonts/Ruda.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-family: 'Urbanist', sans-serif;
  --max-content-width: 1200px;
  --color-primary: #ef556d;
  --color-primary--darker: #ec3f59;
  --primary-font: 'Urbanist', sans-serif;
  --text-light-color: #e1e1e1;
  --gray-bg: #efefef;
  --light-bg: #f5f5f5;
  --dark-bg: #232524;
  --dark-text-color: #343d46;
  --darkest-text-color: #2f373f;

  @media (max-width: 1200px) {
    --max-content-width: 100%;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb #ffffff;
}

body {
  padding: 0px;
  margin: 0px;
}

.page {
  width: var(--max-content-width);
  margin: auto;
  padding: 24px 0;

  @include mobile {
    padding: 24px 16px;
    width: calc(var(--max-content-width) - 32px);
  }

  &__title {
    font-size: 56px;
    margin: 0 0 16px;
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-family: Ruda;

    @include mobile {
      font-size: 50px;
    }
  }

  &__description {
    color: #2f373f;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    margin: auto;
    text-align: center;
    width: 64%;
    margin-top: 16px;

    @include mobile {
      width: 100%;
    }
  }

  &__gallery {
    padding: 64px 32px;
    background-color: #232524;

    @include desktop {
      padding: 64px;
    }

    @include xl-desktop {
      padding: 64px 128px;
    }

    @include mobile {
      padding: 64px 0px;
    }
  }
}
